body{
    padding: 20px;
    font-size: 20px;
    font-family: arial, sans-serif;
}
label{
    display: block;
    padding-bottom: 10px;
}
input{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* border-radius:; */
}
select{
    height: 40px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
}
button{
    height: 40px;
    width: 100px;
    background-color: #4CAF50;
    border-radius: 5px;
    color: white;
}